<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/stylesheets/ekko-lightbox.min.css"> -->
    <link rel="stylesheet" href="/stylesheets/ekko-lightbox-dark.css">
    <!-- <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <header id="top">

        <div class="container-fluid">
        
            <div class="row">
            
                <div class="col-lg-4 col-md-12 site-title">
                    
                    
                </div>
                
                <div class="col-lg-8 col-md-12 main-menu">
                    
                    <nav class="navbar navbar-light">
                      <ul class="nav navbar-nav single-page-nav">
                        <li class="nav-item">
                          <a class="nav-link" href="/">Home <!-- <span class="sr-only">(current)</span> --></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about">About Me</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/projects">Projects</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/contact">Contact</a>
                        </li>
                      </ul>
                    </nav>
                  
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <hr class="sigma-hr">
                </div>
            </div>
    
        </div>
        
    </header>