<% include partials/header.ejs %>

  <section>

    <div class="container-fluid">

      <div class="row">
        <div class="sigma-content col-lg-3 col-md-6 sigma-bg-lightgray text-center">
            <span class="sigma-icon fa fa-power-off"></span>
              <h2>Desginer</h2>
              <p>I do a little bit of design. I desgin webpages using different tools to make everything perfect for the client</p>
          </div>
          <div class="sigma-content col-lg-3 col-md-6 sigma-bg-gray text-center">
            <span class="sigma-icon fa fa-bolt"></span>
            <h2>Developer</h2>
            <p>A 5 years back-end developer and currently studing to become a full-stack developer.</p></br>
          </div>
          <div class="sigma-content col-lg-3 col-md-6 sigma-bg-darkgray text-center">
            <span class="sigma-icon fa fa-thumbs-up"></span>
            <h2>Gamer</h2>
            <p>A passion that I have. A play all sort of games and I enjoyed every single minute playing them.</p>
          </div>
          <div class="sigma-content col-lg-3 col-md-6 sigma-bg-black text-center">
            <span class="sigma-icon fa fa-bar-chart"></span>
            <h2>Tutor</h2>
            <p>I try to passed my knowlege to young and beginner developers. Always trying to help.</p></br>
          </div>
      </div>

    </div>

  </section>

<% include partials/footer.ejs %>
  