<!-- Home Page -->
<!-- Daniel Costa Ramos 200354269 -->
<% include partials/header.ejs %>

<section id="home">

	<div class="container-fluid">

    <div class="row sigma-home">
    
      <div class="col-md-offset-2 col-lg-offset-3 col-lg-6 col-md-8 col-sm-12 text-center">
          <h1>Daniel C. Ramos</h1>
          <p>Learning. Designing. Developing.</p>
            <a href="/about" class="btn btn-danger sigma-start">About Me</a>
            <a href="/services" class="btn btn-success sigma-start">Services</a>
            <a href="/projects" class="btn btn-info sigma-start">Projects</a>
        </div>
        
    </div>

	</div>
    
</section>

<% include partials/footer.ejs %>
  