<!-- Projects Page -->
<% include partials/header.ejs %>

<section id="gallery">

	<div class="container-fluid">

    <div class="row">
    
      <a href="#" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 01">
      <img src="images/tm-sigma-01.jpg" alt="Image 1" class="img-fluid sigmapad col-lg-4 col-md-6 col-sm-6"></a>

      <a href="#" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 02" data-footer="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non nunc dictum.">
      <img src="images/tm-sigma-02.jpg" alt="Image 2" class="img-fluid sigmapad col-lg-4 col-md-6 col-sm-6"></a>

      <a href="#" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 03">
      <img src="images/tm-sigma-03.jpg" alt="Image 3" class="img-fluid sigmapad col-lg-4 col-md-8 col-sm-12"></a>

      <a href="#" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 03">
      <p>More to come...</p></a>

    </div>
        
  </div>

</section>

<% include partials/footer.ejs %>
  