<% include partials/header.ejs %>

<section>

    <div class="container-fluid">

      <div class="row">
        <div class="sigma-content col-lg-3 col-md-6 sigma-bg-lightgray text-center">
          <span class="sigma-icon fa fa-power-off"></span>
          <h2>Design</h2>
        </div>
        <div class="sigma-content col-lg-3 col-md-6 sigma-bg-gray text-center">
          <span class="sigma-icon fa fa-bolt"></span>
          <h2>Web Development</h2>
        </div>
        <div class="sigma-content col-lg-3 col-md-6 sigma-bg-darkgray text-center">
          <span class="sigma-icon fa fa-thumbs-up"></span>
          <h2>Mobile Development</h2>
        </div>
        <div class="sigma-content col-lg-3 col-md-6 sigma-bg-black text-center">
          <span class="sigma-icon fa fa-bar-chart"></span>
          <h2>Tutoring</h2>
        </div>
      </div>

    </div>

  </section>


<% include partials/footer.ejs %>
  